body {
    background-image: url('https://raw.githubusercontent.com/LucaPontellini/End-of-Year-Project-for-Computer-Science-Poker-/700d9bad00c86ef360e6ca830fd87626bc08fd61/immagine_Casino.jpg');
    background-size: cover;
    text-align: center;
    color: black;
    font-size: 2em;
    margin-top: 15%;
    font-family: "Gill Sans", sans-serif;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: #FFD700;
    font-size: 3em;
    text-shadow: 2px 2px 4px #000000;
}

.play-button {
    display: inline-block;
    background-color: #f00;
    color: #fff;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 5px;
}

.info-creator {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    padding: 15px;
    margin-top: 20px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.info-creator a {
    color: #000;
    font-size: 1.5em;
    text-decoration: none;
}

.blur-box {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

.cashier {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: url('https://raw.githubusercontent.com/LucaPontellini/End-of-Year-Project-for-Computer-Science-Poker-/700d9bad00c86ef360e6ca830fd87626bc08fd61/immagine_Casino.jpg') center/cover no-repeat;
    z-index: 2;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.container .table {
    flex: 1 1 200px;
    margin: 10px;
}

.container .container {
    margin-top: 50px;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
}

.container h1 {
    font-size: 56px;
    border: 2px solid white;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
}

.container .button {
    padding: 5px 30px;
    margin: 20px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.3s ease-in-out;
}

.container .button:hover {
    background-color: #45a049;
}

body.poker-background {
    background-image: url('/static/tavolo_poker.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white;
}