<!DOCTYPE html>
<html>
<head>
  <style> /* la parte css di questo file va traferito in un file css esterno a quello HTML */
    table {
      border-collapse: collapse;
      width: 100%;
      margin-bottom: 20px;
    }
    th, td {
      border: 1px solid black;
      padding: 15px;
      text-align: left;
    }
    .casino-button {
      display: inline-block;
      width: 200px;
      padding: 10px;
      margin: 20px;
      background-color: #4CAF50;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }
    .casino-button:hover {
      background-color: #45a049;
    }
  </style>
</head>
<body>

<h1>Regole del Poker</h1>

<button class="casino-button"onclick="window.location.href='/casino_home'">Go to Casino Home</button>
<button class="casino-button" onclick="window.location.href='/home_poker.html'">Go to Poker</button>

<table>
  <tr>
    <th>Rule</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>Card Values</td>
    <td>
      Cards are ranked in ascending order: 2, 3, 4, 5, 6, 7, 8, 9, 10, Jack (J), Queen (Q), King (K), Ace (A).<br>
      The Ace can be worth either 1 or 14, so the possible straights are:
      <ul>
        <li>Lowest Straight: Ace (1), 2, 3, 4, 5</li>
        <li>Highest Straight: 10, Jack (J), Queen (Q), King (K), Ace (14)</li>
      </ul>
      The four suits are hearts (♥), diamonds (♦), clubs (♣), and spades (♠).
      <br>
      <!-- Carte di cuori -->
      <p>Hearts (♥):</p>
      <img src="/static/foto_delle_carte/cuori/01_hearts.png?raw=true" alt="Carta di cuori" width="100">
      <img src="/static/foto_delle_carte/cuori/02_hearts.png?raw=true" alt="Carta di cuori" width="100">
      <img src="/static/foto_delle_carte/cuori/03_hearts.png?raw=true" alt="Carta di cuori" width="100">
      <img src="/static/foto_delle_carte/cuori/04_hearts.png?raw=true" alt="Carta di cuori" width="100">
      <img src="/static/foto_delle_carte/cuori/05_hearts.png?raw=true" alt="Carta di cuori" width="100">
      <img src="/static/foto_delle_carte/cuori/06_hearts.png?raw=true" alt="Carta di cuori" width="100">
      <img src="/static/foto_delle_carte/cuori/07_hearts.png?raw=true" alt="Carta di cuori" width="100">
      <img src="/static/foto_delle_carte/cuori/08_hearts.png?raw=true" alt="Carta di cuori" width="100">
      <img src="/static/foto_delle_carte/cuori/09_hearts.png?raw=true" alt="Carta di cuori" width="100">
      <img src="/static/foto_delle_carte/cuori/10_hearts.png?raw=true" alt="Carta di cuori" width="100">
      <img src="/static/foto_delle_carte/cuori/11_hearts.png?raw=true" alt="Carta di cuori" width="100">
      <img src="/static/foto_delle_carte/cuori/12_hearts.png?raw=true" alt="Carta di cuori" width="100">
      <img src="/static/foto_delle_carte/cuori/13_hearts.png?raw=true" alt="Carta di cuori" width="100">
      <br>
      <!-- Carte di quadri -->
      <p>Diamonds (♦):</p>
      <img src="/static/foto_delle_carte/quadri/01_diamonds.png?raw=true" alt="Carta di quadri" width="100">
      <img src="/static/foto_delle_carte/quadri/02_diamonds.png?raw=true" alt="Carta di quadri" width="100">
      <img src="/static/foto_delle_carte/quadri/03_diamonds.png?raw=true" alt="Carta di quadri" width="100">
      <img src="/static/foto_delle_carte/quadri/04_diamonds.png?raw=true" alt="Carta di quadri" width="100">
      <img src="/static/foto_delle_carte/quadri/05_diamonds.png?raw=true" alt="Carta di quadri" width="100">
      <img src="/static/foto_delle_carte/quadri/06_diamonds.png?raw=true" alt="Carta di quadri" width="100">
      <img src="/static/foto_delle_carte/quadri/07_diamonds.png?raw=true" alt="Carta di quadri" width="100">
      <img src="/static/foto_delle_carte/quadri/08_diamonds.png?raw=true" alt="Carta di quadri" width="100">
      <img src="/static/foto_delle_carte/quadri/09_diamonds.png?raw=true" alt="Carta di quadri" width="100">
      <img src="/static/foto_delle_carte/quadri/10_diamonds.png?raw=true" alt="Carta di quadri" width="100">
      <img src="/static/foto_delle_carte/quadri/11_diamonds.png?raw=true" alt="Carta di quadri" width="100">
      <img src="/static/foto_delle_carte/quadri/12_diamonds.png?raw=true" alt="Carta di quadri" width="100">
      <img src="/static/foto_delle_carte/quadri/13_diamonds.png?raw=true" alt="Carta di quadri" width="100">
      <br>
      <p>Clubs (♣):</p>
      <!-- Carte di fiori -->
      <img src="/static/foto_delle_carte/fiori/01_clubs.png?raw=true" alt="Carta di fiori" width="100">
      <img src="/static/foto_delle_carte/fiori/02_clubs.png?raw=true" alt="Carta di fiori" width="100">
      <img src="/static/foto_delle_carte/fiori/03_clubs.png?raw=true" alt="Carta di fiori" width="100">
      <img src="/static/foto_delle_carte/fiori/04_clubs.png?raw=true" alt="Carta di fiori" width="100">
      <img src="/static/foto_delle_carte/fiori/05_clubs.png?raw=true" alt="Carta di fiori" width="100">
      <img src="/static/foto_delle_carte/fiori/06_clubs.png?raw=true" alt="Carta di fiori" width="100">
      <img src="/static/foto_delle_carte/fiori/07_clubs.png?raw=true" alt="Carta di fiori" width="100">
      <img src="/static/foto_delle_carte/fiori/08_clubs.png?raw=true" alt="Carta di fiori" width="100">
      <img src="/static/foto_delle_carte/fiori/09_clubs.png?raw=true" alt="Carta di fiori" width="100">
      <img src="/static/foto_delle_carte/fiori/10_clubs.png?raw=true" alt="Carta di fiori" width="100">
      <img src="/static/foto_delle_carte/fiori/11_clubs.png?raw=true" alt="Carta di fiori" width="100">
      <img src="/static/foto_delle_carte/fiori/12_clubs.png?raw=true" alt="Carta di fiori" width="100">
      <img src="/static/foto_delle_carte/fiori/13_clubs.png?raw=true" alt="Carta di fiori" width="100">
      <br>
      <p>Spades (♠):</p>
      <!-- Carte di picche -->
      <img src="/static/foto_delle_carte/picche/01_spades.png?raw=true" alt="Carta di picche" width="100">
      <img src="/static/foto_delle_carte/picche/02_spades.png?raw=true" alt="Carta di picche" width="100">
      <img src="/static/foto_delle_carte/picche/03_spades.png?raw=true" alt="Carta di picche" width="100">
      <img src="/static/foto_delle_carte/picche/04_spades.png?raw=true" alt="Carta di picche" width="100">
      <img src="/static/foto_delle_carte/picche/05_spades.png?raw=true" alt="Carta di picche" width="100">
      <img src="/static/foto_delle_carte/picche/06_spades.png?raw=true" alt="Carta di picche" width="100">
      <img src="/static/foto_delle_carte/picche/07_spades.png?raw=true" alt="Carta di picche" width="100">
      <img src="/static/foto_delle_carte/picche/08_spades.png?raw=true" alt="Carta di picche" width="100">
      <img src="/static/foto_delle_carte/picche/09_spades.png?raw=true" alt="Carta di picche" width="100">
      <img src="/static/foto_delle_carte/picche/10_spades.png?raw=true" alt="Carta di picche" width="100">
      <img src="/static/foto_delle_carte/picche/11_spades.png?raw=true" alt="Carta di picche" width="100">
      <img src="/static/foto_delle_carte/picche/12_spades.png?raw=true" alt="Carta di picche" width="100">
      <img src="/static/foto_delle_carte/picche/13_spades.png?raw=true" alt="Carta di picche" width="100">
      <br>
    </td>
  </tr>
  <tr>
    <td>Hand Rankings</td>
    <td>
      <ul>
        <li>Pair: Two cards of the same value.</li>
        <li>Two Pair: Two sets of pairs.</li>
        <li>Three of a Kind: Three cards of the same value.</li>
        <li>Straight: Five consecutive cards (e.g., 2-3-4-5-6).</li>
        <li>Flush: Five cards of the same suit.</li>
        <li>Full House: One pair plus a three of a kind.</li>
        <li>Four of a Kind: Four cards of the same value.</li>
        <li>Straight Flush: Straight of the same suit from ace to ten.</li>
      </ul>
    </td>
  </tr>
  <tr>
    <td>Dealing of Cards</td>
    <td>Each player receives two face-down cards (the "hole cards"). This is followed by a betting phase.</td>
  </tr>
  <tr>
    <td>Betting</td>
    <td>
      <ul>
        <li>Check: Pass the turn without betting.</li>
        <li>Bet: Wager a certain number of chips.</li>
        <li>Call: Match another player's bet.</li>
        <li>Raise: Increase the bet.</li>
        <li>Fold: Surrender the hand.</li>
      </ul>
      Three face-up cards are then dealt on the table (the "flop"). Two more face-up cards are dealt one at a time (the "turn" and the "river"). Players aim to form the best possible hand using their hole cards and the community cards on the table.
    </td>
  </tr>
  <tr>
    <td>Winner</td>
    <td>At the end of the betting round, players reveal their cards. The player with the highest-ranking hand according to the above classification wins.</td>
  </tr>
</table>
</body>
</html>